#header {
  height: 5em;
  background-color: white;
  position: fixed;
  z-index: +1;
  overflow: hidden;
  top: 0;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.headerColumn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchFormButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  font-family: Orbitron;
  font-size: 35px;
}

.logoShort {
  display: none;
  font-family: Orbitron;
  font-size: 35px;
}

@media only screen and (max-width: 825px) {
  .logo {
    display: none;
  }
  .logoShort {
    display: flex;
  }
}
